<!DOCTYPE html>
<html ng-app="demo">

  <head>
    <style>
      a {
        font-size: 300%;
        -webkit-transition: 1s;
        transition: 1s;
        background: #fff;
      }
    
      a.highlight {
        background: #f08;
      }
    </style>
    
    <script data-require="angular.js@1.0.7" data-semver="1.0.7" src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
    <script>
      angular.module('demo', [
      ]).controller('MainCtrl', function(
        $scope,
        $timeout
      ){
        $scope.items = [{
          name: 'Squidward',
          highlight: false
        }, {
          name: 'Plankton',
          highlight: false
        }];
        
        $scope.add = function() {
          var _length = $scope.items.push({
            name: 'Patrick',
            highlight: false
          });
          
          $timeout(function() {
            $scope.items[_length - 1].highlight = true;
          }, 100);
        };
      });
    </script>
  </head>

  <body ng-controller="MainCtrl">
    <div>
      <button ng-click="add()">Add More Patrick</button>
      <ul>
        <li ng-repeat="item in items">
          <a ng-class="{
            highlight: item.highlight
          }">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </body>

</html>